.login-text{
    font-size: 2em;
    margin-top: 15%;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 5400;
    color: #4561b1;

}

.input-field{
    display: block;
    width: 28%;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    /* margin-left: 568px; */
    margin: auto;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;

}

.mybtn{
    font-size: 19px;
    margin: 0px 47% 280px;
    font-family: "Roboto Slab",serif;
    border-radius: 1.25rem;
    background-color: #3b5fc3c9;
    color: #fff;
    border: none;
    padding: 12px;
}